<script>
	import { _ } from "svelte-i18n"
	import { url } from "@sveltech/routify"
	import FilterButton from "~/components/FilterButton.svelte"
	import WizardStep from "~/components/WizardStep.svelte"

	export let scoped
	$: ({ wizardMode } = scoped)
</script>

<!-- routify:options name="theme-filter" -->

<WizardStep let:select let:step let:value {wizardMode}>
	<div class="grid sm:grid-cols-2 gap-4">
		{#each step.values as { name, label, description } (name)}
			<FilterButton
				imageUrl={$url(`/theme-icons/theme_${name}.svg`)}
				label={$_(label)}
				description={$_(description)}
				selected={name === value}
				on:click={() => {
					select(name)
				}} />
		{/each}
	</div>
</WizardStep>
