<script>
	import { url } from "@sveltech/routify"
	import WizardStep from "~/components/WizardStep.svelte"
	import FilterButton from "~/components/FilterButton.svelte"
	import { _ } from "svelte-i18n"

	export let scoped
	$: ({ wizardMode } = scoped)
</script>

<!-- routify:options name="urgence-filter" -->

<WizardStep let:select let:step let:value {wizardMode}>
	<div class="max-w-2xl mx-auto space-y-4">
		{#each step.values as { name, label, description } (name)}
			<FilterButton
				imageUrl={$url(`/urgence-icons/urgence_${name}.png`)}
				label={$_(label)}
				description={$_(description)}
				selected={name === value}
				on:click={() => {
					select(name)
				}} />
		{/each}
	</div>
</WizardStep>
