<script>
	export let address = null
	export let contactName = null
	export let url = null

	import { _ } from "svelte-i18n"
	import PostalAddress from "./PostalAddress.svelte"
</script>

{#if address}
	<PostalAddress {...address} {contactName} />
{/if}

{#if url}
	<div class="my-2">
		<a href={url}>{$_('page.structures.link.website')}</a>
	</div>
{/if}
