<script>
	export let streetAddress = null
	export let postalCode = null
	export let addressLocality = null
	export let email = null
	export let telephone = null
	export let contactName = null

	import { externalLink } from "~/heroicons.js"
	import SvgIcon from "~/components/SvgIcon.svelte"
	import { _ } from "svelte-i18n"

	$: addressSearchString = (streetAddress || "") + " " + (postalCode || "") + " " + (addressLocality || "")

	// Cf https://developers.google.com/maps/documentation/urls/android-intents#search_for_a_location
	$: geoUrl = addressSearchString ? `geo:0,0?q=${encodeURIComponent(addressSearchString)}` : null
</script>

{#if streetAddress || postalCode || addressLocality}
	<div class="my-2 flex">
		<address>
			{#if streetAddress}
				<div>{streetAddress}</div>
			{/if}
			{#if postalCode || addressLocality}
				<div>{[postalCode, addressLocality].join(' ')}</div>
			{/if}
		</address>
		{#if geoUrl}
			<div>
				<a class="ms-2" href={geoUrl} title={$_('page.structures.tooltip.see_the_address_on_a_map')}>
					<SvgIcon {...externalLink} />
				</a>
			</div>
		{/if}
	</div>
{/if}

{#if contactName}
	<div class="my-2">{$_('page.structures.contact_person_info', { values: { contact: contactName } })}</div>
{/if}

{#if email}
	<div class="my-2">
		<a href="mailto:{email}">{email}</a>
	</div>
{/if}

{#if telephone}
	<div class="my-2">
		<a href={`tel:${telephone}`}>{telephone}</a>
	</div>
{/if}
