<script>
	import { params, redirect } from "@sveltech/routify"
	import { _ } from "svelte-i18n"
	import { findFeatureById } from "~/model.js"
	import { saveUrlToPdf } from "~/pdf.js"
	import { structures } from "~/stores.js"
	import Structure from "~/components/Structure.svelte"

	$: id = Number($params.id)

	$: feature = $structures && findFeatureById($structures, id)

	let coordinates
	let structureName

	$: if (feature) {
		coordinates = feature.geometry ? feature.geometry.coordinates : null
		structureName = feature.properties.lieu_nom || $_("page.structures.structure_without_name")
	}

	async function handlePDFClick() {
		isDownloading = true
		const filename = `${structureName}.pdf`
		const errorMessage = $_("page.structures.download.error")
		await saveUrlToPdf(location.href, filename, errorMessage)
		isDownloading = false
	}

	let isDownloading = false
</script>

<!-- routify:options name="structure" -->

{#if feature}
	<div class="typography">
		<Structure {structureName} {...feature.properties} {coordinates}>
			<div slot="tools" class="print:hidden flex items-center mb-4">
				<button
					class="btn-link self-start text-gray-800"
					on:click={handlePDFClick}
					disabled={isDownloading}
					title={$_('page.structures.download.tooltip')}>
					{$_('page.structures.download.link')}
				</button>
				{#if isDownloading}
					<div class="ms-4 animate-ping w-3 h-3 rounded-full bg-francilin-orange" />
				{/if}
			</div>
		</Structure>
	</div>
{:else}
	<div>{$_('page.structures.not_found')}</div>
{/if}
