<script>
	import { url } from "@sveltech/routify"
	import { fetchInitialMetaData } from "~/stores.js"
	import Footer from "~/components/Footer.svelte"
	import NavBar from "~/components/NavBar.svelte"

	fetchInitialMetaData()
</script>

<div class="flex flex-col min-h-screen">

	<div class="hidden sm:block">
		<div class="tache1">
			<img src={$url('/images/tachefond1.png')} alt="tachefond1" />
		</div>
		<div class="tache2">
			<img src={$url('/images/tachefond2.png')} alt="tachefond2" />
		</div>
		<div class="tache3">
			<img src={$url('/images/tachefond3.png')} alt="tachefond3" />
		</div>
		<div class="tache4">
			<img src={$url('/images/tachefond4.png')} alt="tachefond4" />
		</div>
	</div>

	<div class="print:hidden">
		<NavBar />
	</div>

	<div class="flex-grow container mx-auto px-4 pt-4 print:pt-0 print:px-0">
		<slot />
	</div>

	<div class="print:hidden mt-24 mb-4">
		<Footer />
	</div>

</div>

<style>
	.tache1 {
		position: fixed;
		z-index: -1;
		width: 115px;
		right: -50px;
		top: -45px;
	}

	.tache2 {
		position: fixed;
		z-index: -1;
		width: 212px;
		left: -25px;
		bottom: -96px;
	}

	.tache3 {
		position: fixed;
		z-index: -1;
		width: 174px;
		right: 91px;
		bottom: -88px;
	}

	.tache4 {
		position: fixed;
		z-index: -1;
		width: 185px;
		right: -58px;
		bottom: -53px;
	}
</style>
