<script>
	import { _ } from "svelte-i18n"
	import Select from "svelte-select"
	import * as api from "~/api.js"
	import { mapLocation } from "~/stores.js"
	import GeolocateButton from "~/components/GeolocateButton.svelte"
	import WizardStep from "~/components/WizardStep.svelte"

	export let scoped
	$: ({ wizardMode } = scoped)

	async function loadSelectOptions(filterText) {
		if (filterText.trim().length === 0) {
			return []
		}
		let addresses
		try {
			addresses = await api.fetchAddresses(filterText)
		} catch (error) {
			alert($_("filter.lieu.error.fetch_addresses"))
			return []
		}
		return addresses.features
	}

	function getAddressLabel(feature) {
		const { postcode, city, type, label } = feature.properties
		if (type === "municipality") {
			return `${postcode} ${city} (${$_("filter.lieu.municipality_info")})`
		}
		return label
	}

	const geoLocationBrowserSupport = navigator.geolocation && navigator.geolocation.getCurrentPosition
</script>

<!-- routify:options name="location-picker" -->

<WizardStep let:select let:value {wizardMode}>
	<div class="mx-auto flex flex-col items-center">
		<div class="max-w-xl w-full">
			<Select
				loadOptions={loadSelectOptions}
				noOptionsMessage={$_('filter.lieu.no_result')}
				placeholder={$_('filter.lieu.placeholder')}
				getOptionLabel={getAddressLabel}
				getSelectionLabel={getAddressLabel}
				selectedValue={mapLocation.isAddressMode(value) && value.value}
				on:select={(event) => {
					mapLocation.setAddress(event.detail)
				}}
				on:clear={() => {
					mapLocation.reset()
				}} />
		</div>

		<div class="my-8 text-center text-gray-600">– {$_('filter.lieu.or')} –</div>

		<GeolocateButton disabled={!geoLocationBrowserSupport} selected={mapLocation.isGeolocateMode(value)} />

		{#if !geoLocationBrowserSupport}
			<div>{$_('filter.lieu.error.geolocation_support')}</div>
		{/if}
	</div>
</WizardStep>
