<script>
	import config from "~/config.js"
	import { _ } from "svelte-i18n"
</script>

<a
	class="btn btn-outline border-pink-700 text-pink-700"
	href={config.enrichTheMapUrl}
	target="_blank"
	rel="noopener"
	title={$_('navbar.button.enrich_the_map.tooltip')}>
	{$_('navbar.button.enrich_the_map.text')}
</a>
