<script>
	import { _ } from "svelte-i18n"

	export let imageUrl = null
	export let label
	export let description
	export let selected = false
</script>

<div
	class="cursor-pointer px-2 sm:px-10 py-4 w-full border rounded border-gray-800 bg-white flex items-center
	hover:bg-gray-100"
	class:selected
	on:click>
	<span class="sr-only">{$_('selected_value')}</span>
	{#if imageUrl}
		<img src={imageUrl} class="h-12 me-3" alt={label} />
	{/if}
	<div>
		<div class="font-bold">{label}</div>
		<div class="text-gray-700">{description}</div>
	</div>
</div>

<style>
	.selected {
		@apply bg-gray-200 border-gray-700 border-4;
	}
</style>
