<script>
	import { url } from "@sveltech/routify"
	import { _ } from "svelte-i18n"
	import EnrichTheMapButton from "./EnrichTheMapButton.svelte"
</script>

<div class="print:hidden flex flex-col sm:flex-row justify-center items-center">
	<div class="mb-2 sm:mb-0 sm:me-4">
		<a href={$url('about')} class="hover:underline">{$_('page.about.title')}</a>
	</div>
	<div class="mb-2 sm:mb-0 sm:me-4">
		<a href={$url('legal-terms')} class="hover:underline">{$_('page.legal_terms.link')}</a>
	</div>
	<EnrichTheMapButton />
</div>
