<script>
	import { _, locale } from "svelte-i18n"
	import { availableLocaleItems } from "~/stores.js"
	import { createEventDispatcher } from "svelte"

	const dispatch = createEventDispatcher()
</script>

<ul class="w-32">
	{#each $availableLocaleItems as { label, value } (value)}
		{#if value === $locale}
			<span class="sr-only">{$_('selected_value')}</span>
		{/if}
		<li
			class="cursor-pointer px-4 py-2 hover:bg-gray-200"
			class:bg-gray-300={value === $locale}
			on:click={() => {
				$locale = value
				dispatch('change', value)
			}}>
			{label}
		</li>
	{/each}
</ul>
