<script>
	import { _ } from "svelte-i18n"
	import { url } from "@sveltech/routify"
	import { chevronDown, translate } from "~/heroicons.js"
	import { localeItem } from "~/stores.js"
	import Dropdown from "~/components/Dropdown.svelte"
	import LocalePicker from "~/components/LocalePicker.svelte"
	import SvgIcon from "~/components/SvgIcon.svelte"
</script>

<nav class="flex flex-col md:flex-row items-center md:pl-4 md:pr-32">
	<a href={$url('/')}>
		<img class="inline-block h-16 object-scale-down" src={$url('/logo.jpg')} alt={$_('navbar.logo.alt')} />
	</a>
	<a href={$url('map')} class="nav-item mb-4 md:mb-0 md:ms-auto md:me-4 uppercase">{$_('navbar.go_to_map')}</a>
	<Dropdown let:close>
		<div slot="button" class="nav-item">
			<SvgIcon size={20} {...translate} />
			{$localeItem.label.toUpperCase()}
			<SvgIcon size={20} {...chevronDown} />
		</div>
		<LocalePicker on:change={close} />
	</Dropdown>
</nav>

<style>
	.nav-item {
		@apply px-4 py-1 text-gray-200 bg-gray-600;
	}

	.nav-item:hover {
		@apply bg-gray-700;
	}
</style>
