<script>
	export let structureName = null
	export let SIRET = null
	export let contact_nom = null
	export let adresse = null
	export let code_postal = null
	export let commune = null
	export let e_mail = null
	export let telephone = null
	export let site_web = null
	export let horaires = null
	export let coordinates = null
	export let aide = null
	export let accessibilite = null
	export let services = []

	import { _ } from "svelte-i18n"
	import { url } from "@sveltech/routify"
	import { link } from "~/heroicons.js"
	import { themeIdFromServiceId } from "~/model.js"
	import SvgIcon from "~/components/SvgIcon.svelte"
	import MapboxStaticMap from "./schema.org/MapboxStaticMap.svelte"
	import CivicStructure from "./schema.org/CivicStructure.svelte"
	import OpeningHours from "./schema.org/OpeningHours.svelte"
	import Itineraries from "./schema.org/Itineraries.svelte"

	// Groups services by categories
	// categories and services are sorted along their identifiers
	function computeServiceGroups(providesService) {
		if (!providesService) {
			return []
		}

		// Group services by category
		const categoryMap = new Map()
		for (const service of providesService) {
			const categoryId = service.category.identifier
			if (!categoryMap.has(categoryId)) {
				categoryMap.set(categoryId, [])
			}
			categoryMap.get(categoryId).push(service)
		}

		// Sort categories by id
		const categoryList = [...categoryMap.keys()].sort((a, b) => a - b)

		return categoryList.map((categoryId) => ({
			identifier: categoryId,
			name: categoryMap.get(categoryId)[0].category.name,
			services: categoryMap.get(categoryId).sort((a, b) => a.identifier - b.identifier),
		}))
	}

	$: address = {
		streetAddress: adresse,
		postalCode: code_postal,
		addressLocality: commune,
		email: e_mail,
		telephone,
	}

	$: providedServices = services.map((serviceId) => {
		const themeId = themeIdFromServiceId(serviceId)

		// https://schema.org/Service
		return {
			category: {
				identifier: themeId,
			},
			identifier: serviceId,
		}
	})

	$: serviceGroups = computeServiceGroups(providedServices)
</script>

<div class="flex items-center mb-4 print:mb-0">
	<a class="hidden print:block mr-4" href={$url('/')}>
		<img class="inline-block h-16 object-scale-down" src={$url('/logo.jpg')} alt={$_('navbar.logo.alt')} />
	</a>
	<h1>
		{structureName}
		<a href={window.location} title={$_('page.structures.tooltip.permalink')}>
			<SvgIcon {...link} />
		</a>
	</h1>
</div>

<slot name="tools" />

<div class="mt-8 grid gap-16 sm:grid-cols-2 print:grid-cols-2 print:gap-8">

	<div class="space-y-16 print:space-y-8">
		{#if coordinates}
			<MapboxStaticMap latitude={coordinates[1]} longitude={coordinates[0]} />
		{/if}
		<div>
			<h2 class="mb-4">{$_('page.structures.section.coords')}</h2>
			<CivicStructure {address} contactName={contact_nom} url={site_web} />
		</div>
		<div>
			<h2 class="mb-4">{$_('page.structures.section.itineraries')}</h2>
			<Itineraries {...address} />
		</div>
	</div>

	<div class="space-y-16 print:space-y-8">
		<div>
			<h2 class="mb-4">{$_('page.structures.section.openinghours')}</h2>
			<OpeningHours value={horaires} />
		</div>

		{#if services.length > 0}
			<div>
				<h2 class="mb-4">{$_('page.structures.section.services')}</h2>
				{#each serviceGroups as serviceGroup (serviceGroup.identifier)}
					<p class="my-2">{$_(`theme.${serviceGroup.identifier}.label`)}</p>
					<ul class="list-disc list-inside ml-4">
						{#each serviceGroup.services as service (service.identifier)}
							<li>{$_(`service.${service.identifier}.label`)}</li>
						{/each}
					</ul>
				{/each}
			</div>
		{/if}

		{#if aide.length > 0}
			<div>
				<h2 class="mb-4">{$_('page.structures.section.aide')}</h2>
				<ul class="list-disc list-inside ml-4">
					{#each aide as code (code)}
						<li>{$_(`filter.aide.value.${code}.label`)}</li>
					{/each}
				</ul>
			</div>
		{/if}

		{#if accessibilite}
			<div>
				<h2 class="mb-4">{$_('page.structures.section.accessibility')}</h2>
				<p>{$_(`page.structures.accessibility_info.${accessibilite === 'oui' ? 'yes' : 'no'}`)}</p>
			</div>
		{/if}

		{#if SIRET}
			<div>
				<h2 class="mb-4">{$_('page.structures.identifier.siret')}</h2>
				<div>{SIRET}</div>
			</div>
		{/if}
	</div>

</div>
