<script>
	import { _, locale, isLoading } from "svelte-i18n"
	import { Router } from "@sveltech/routify"
	import { routes } from "../.routify/routes"
	import TailwindCSS from "./TailwindCSS.svelte"

	$: if (!$isLoading) {
		document.dir = $_("direction")
	}
</script>

<TailwindCSS />

{#if !$isLoading}
	<Router {routes} />
{/if}
